:root.theme-dark {
  --button-text-color: #ff0070;
  --button-border-hover: #FF007066;
  --accent-color: #ff0070;
  --rec-visibility: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --accent-bg-color: #000028;
  --main-text-color: #F1B2CE;
  --rec-color: #ff0070;
  --page-bg-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-text-color: #ff0070;
    --button-border-hover: #FF007066;
    --accent-color: #ff0070;
    --rec-visibility: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
    --title-color: #DB00FF;
    --accent-bg-color: #000028;
    --main-text-color: #F1B2CE;
    --rec-color: #ff0070;
    --page-bg-color: #000028;
  }
}
