.theme-light.page {
  --color-background: #fff1f7;
  --color-text: #353430;
  --color-primary: #ffc2e6;
  --color-button: #353430;
  --color-section-heading: #353430;
  --color-article-heading: #353430;
  --color-article-background: #ff8dcb;
  --color-link-shadow: #ff8dcb;
  --color-button-hover: rgba(50, 49, 45, 0.4);
  --color-shadow: #ff8dcb;
  --color-border: #353430;
  --background-image: url("../images/cover-image-light.png");
  --visibility-rec: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
    --color-background: #fff1f7;
    --color-text: #353430;
    --color-primary: #ffc2e6;
    --color-button: #353430;
    --color-section-heading: #353430;
    --color-article-heading: #353430;
    --color-article-background: #ff8dcb;
    --color-link-shadow: #ff8dcb;
    --color-button-hover: rgba(50, 49, 45, 0.4);
    --color-shadow: #ff8dcb;
    --color-border: #353430;
    --background-image: url("../images/cover-image-light.png");
    --visibility-rec: hidden;
  }
}
