:root.theme-light {
  --button-text-color: #353430;
  --button-border-hover: #32312D66;
  --accent-color: #FF8DCB;
  --rec-visibility: transparent;
  --background-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --accent-bg-color: #353430;
  --main-text-color: #353430;
  --rec-color: transparent;
  --page-bg-color: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  :root {
    --button-text-color: #353430;
    --button-border-hover: #32312D66;
    --accent-color: #FF8DCB;
    --rec-visibility: transparent;
    --background-image: url(../images/cover-image-light.png);
    --title-color: #FFC2E6;
    --accent-bg-color: #353430;
    --main-text-color: #353430;
    --rec-color: transparent;
    --page-bg-color: #FFF1F7;
  }
}
