.page {
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-text);
  line-height: var(--line-height-base);
  background-color: var(--color-background);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--color-border);
  border-block-end: 1px solid var(--color-border);
  inset-inline-start: var(--spacing-small);
  inset-block-end: var(--spacing-small);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--color-border);
  border-block-start: 1px solid var(--color-border);
  inset-inline-end: var(--spacing-small);
  inset-block-start: var(--spacing-small);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  padding: var(--spacing-small);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  background-color: transparent;
  color: var(--color-button);
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-button);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-button);
  pointer-events: none;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--color-primary);
}

.header__title {
  align-self: center;
  justify-self: start;
  text-shadow: 4px 4px 0 var(--color-shadow);
}

.header__description {
  align-self: center;
  justify-self: end;
  width: 100%;
  padding: 0;
  color: var(--color-article-heading);
  background-color: var(--color-article-background);
  font-weight: var(--font-weight-bold);
}

.header__rec {
  position: absolute;
  visibility: var(--visibility-rec);
  color: var(--color-rec);
  text-transform: uppercase;
  inset-block-start: var(--spacing-small);
  inset-inline-end: calc(var(--spacing-small) + 3px + 25px);
}

.header__rec::after {
  content: "";
  position: absolute;
  visibility: var(--visibility-rec);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--color-rec);
  box-shadow: 0px 0px 4px 2px var(--color-rec);
  inset-inline-end: -18px;
  inset-block-start: 8px;
}

.content {
  display: grid;
  gap: var(--gap-sections);
  padding: var(--spacing-large) var(--spacing-small);
}

.section {
  display: grid;
  grid-auto-flow: row;
  gap: var(--gap-headers);
}

.section__header {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-section-heading);
}

.section__article-list {
  display: grid;
  gap: var(--gap-articles);
}

.article {
  display: grid;
  gap: 10px;
}

.article__header {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-article-heading);
  background-color: var(--color-article-background);
}

.article__text {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
}

.research-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-link-shadow);
}

.research-link:hover {
  border-bottom: 1px solid var(--color-text);
}

.research-link:focus {
  outline: none;
}

.research-link:focus-visible {
  outline: 1px solid var(--color-text);
}

.article__images {
  display: grid;
  gap: var(--spacing-small);
}

.article__images-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--color-shadow);
}

@media (width>= 768px) {
  :root {
    --spacing-small: 20px;
    --gap-sections: 80px;
    --spacing-large: 60px;
  }

  .header__title {
    margin-inline-start: calc(-1 * var(--spacing-small));
    justify-self: left;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    width: calc(100% / 2);
  }

  .why, .how {
    grid-template-columns: 1fr 2fr;
  }

  .what .section__header {
    width: calc(100% / 3 - var(--gap-articles));
  }

  .article__images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .article__images-image:first-child {
    grid-column: span 2;
  }

  .article__images-image:nth-child(2) {
    grid-row: span 2;
  }

  .article__images-image:nth-child(3) {
    grid-row: span 2;
  }

  .article__images-image:nth-child(5) {
    grid-column: span 2;
  }
}

@media (width>= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .why, .how {
    grid-template-columns: calc((100% - 2 * var(--gap-headers)) / 3) 1fr;
  }

  .what .section__article-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .what .section__header {
    width: 100%;
  }
}
