.page {
  font-family: var(--base-font-family);
  margin: 0 auto;
  background-attachment: fixed;
  font-weight: 400;
  line-height: var(--base-line-height);
  background-color: var(--page-bg-color);
  font-size: var(--base-font-size);
}

.decor {
  text-align: center;
  position: absolute;
  margin: 10px;
  display: flex;
  padding-right: 8px;
  text-transform: uppercase;
  gap: 10px;
  color: var(--rec-color);
  align-items: center;
  top: 0;
  right: 0;
}

.decor::after {
  background-color: var(--rec-visibility);
  display: block;
  block-size: 9px;
  inline-size: 9px;
  content: "";
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--rec-visibility));
  fill: var(--rec-visibility);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  margin: 10px;
  border-right: 1px solid var(--button-text-color);
  block-size: 25px;
  top: 0;
  border-top: 1px solid var(--button-text-color);
  inline-size: 25px;
  right: 0;
}

.decorated-zone::after {
  block-size: 25px;
  border-left: 1px solid var(--button-text-color);
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--button-text-color);
  left: 0;
  bottom: 0;
  margin: 10px;
  inline-size: 25px;
}

.header {
  position: relative;
  min-block-size: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  background-attachment: fixed;
  display: grid;
  padding: 10px;
  background-image: var(--background-image);
  background-position: center;
  align-items: center;
  grid-template-columns: 1fr;
  background-size: cover;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  gap: 13px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.header__theme-menu-button {
  font-size: var(--base-font-size);
  text-align: center;
  padding: 0 13px;
  border: none;
  color: var(--button-text-color);
  background: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-text-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-text-color);
  border: none;
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border-hover);
}

.header__title {
  font-weight: 700;
  line-height: 0.83;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin-left: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
}

.header__paragraph {
  font-weight: 700;
  max-block-size: 117px;
  color: var(--accent-bg-color);
  justify-self: end;
  line-height: var(--base-line-height);
  max-inline-size: 355px;
  align-self: center;
  font-size: var(--base-font-size);
  background-color: var(--accent-color);
}

.section {
  gap: 20px;
  padding: 40px 0 0 0;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: 700;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--button-text-color);
}

.section-answer {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.section-answer-title {
  font-weight: 700;
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);
  color: var(--accent-bg-color);
  background-color: var(--accent-color);
}

.section-answer-text {
  color: var(--main-text-color);
  font-size: var(--base-font-size);
}

.section-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.section-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section-link:focus {
  outline: none;
}

.section-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.section_second {
  margin-top: 10px;
}

.section_third {
  margin-top: 10px;
}

.section-image {
  gap: 10px;
  margin-top: 10px;
}

.section-answer-subtitle {
  font-weight: 400;
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);
  margin: 10px 0;
  color: var(--accent-bg-color);
  background-color: var(--accent-color);
}

.section-image__container {
  padding: 0;
  gap: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.section-image__item {
  object-position: center;
  inline-size: 100%;
  object-fit: cover;
  block-size: 100%;
}

.footer {
  position: relative;
  align-items: center;
  padding: 10px;
  display: flex;
  min-block-size: 100vh;
  margin-top: 40px;
  justify-content: center;
}

.footer__title {
  font-weight: 700;
  line-height: 0.83;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin-left: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header {
    padding: 20px;
  }

  .header__paragraph {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .decorated-zone::before {
    margin: 20px;
  }

  .decorated-zone::after {
    margin: 20px;
  }

  .decor {
    margin: 20px;
  }
  
  .section {
    margin: 0 20px;
  }

  .section_first {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end:20px;
  }

  .section_first .section-answer {
    grid-column: 2;
  }

  .section_second {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end:20px;
  }

  .section_second .section_title {
    grid-column: 1;
  }

  .section_second .section-answer {
    grid-column: 1/3;
  }

  .section_third {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end:20px;
  }

  .section_third .section-answer {
    grid-column: 2;
  }
  .section-image {
    margin-top: 40px;
  }

  .section-image__container {
    margin-top: 10px;
    display: grid;
    gap: 20px;
    grid-template-areas: inherit;
  }

  .section-image__item {
    margin: 0;
  }

  .section-image__item:first-of-type {
    grid-column: 1 / 3;
  }

  .section-image__item:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section-image__item:nth-of-type(3) {
    grid-row: 2 / 4;
  }

  .section-image__item:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section-image__item:last-of-type {
    grid-column: 2 / 4;
  }

  .footer {
    margin-top: 60px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    height: auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: start;
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
  }

  .header__paragraph {
    max-inline-size: 491px;
    max-block-size: 71px;
  }

  .section {
    margin: 0 20px;
  }

  .section_first {
    margin-top: 20px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: 32% 68%;
    row-gap: 20px;
    column-gap: 26px;
    padding-inline-end:20px;
  }

  .section_second {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-inline-end: 0;
  }

  .section_second .section-title {
    grid-column: 1 / 4;
    inline-size: 33%;
  }

  .section_second .section-answer {
    grid-column: auto;
  }

  .section_third {
    margin-top: 40px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: 32% 68%;
    row-gap: 20px;
    column-gap: 26px;
    padding-inline-end:20px;
  }

  .section-image {
    margin-top: 40px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
