:root {
  --font-size-base: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --line-height-base: 130%;
  --font-family: 'IBM Plex Mono', monospace;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
  --spacing-xl: 50px;
  --spacing-xxl: 60px;
  --spacing-xxxl: 80px;
  --gap-articles: 20px;
  --gap-headers: 20px;
  --gap-sections: 50px;
  --color-background: #000028;
  --color-text: #f1b2ce;
  --color-primary: #db00ff;
  --color-accent: #ff0070;
  --color-accent-transparent: #ff007066;
  --color-text-dark: #000028;
  --color-button: var(--color-accent);
  --color-button-hover: var(--color-accent-transparent);
  --color-section-heading: var(--color-accent);
  --color-article-background: var(--color-accent);
  --color-article-heading: var(--color-text-dark);
  --color-link-shadow: var(--color-accent);
  --color-shadow: var(--color-accent);
  --color-rec: var(--color-accent);
  --color-border: var(--color-accent);
  --background-image: url("../images/cover-image-dark.png");
  --visibility-rec: visible;
}
